<div class="payment-option-card">
    <div class="payment-icon">📦</div>
    <div class="payment-title">Cash on Delivery</div>
    <div class="payment-desc">{{@root.paymentConfig.cod.description}}</div>
    <button id="checkoutCod" class="btn btn-outline-success" type="submit">{{@root.paymentConfig.cod.buttonText}}</button>
</div>