<div class="payment-option-card">
    <div class="payment-icon">💸</div>
    <div class="payment-title">Instapay</div>
    <div class="payment-desc">{{@root.paymentConfig.instapay.description}}</div>
    <button id="checkoutInstapay" class="btn btn-outline-success" type="submit">{{@root.paymentConfig.instapay.buttonText}}</button>
</div>