<div class="payment-option-card">
    <div class="payment-icon">💳</div>
    <div class="payment-title">Credit Card</div>
    <div class="payment-desc">{{@root.paymentConfig.paymob.description}}</div>
    <button id="checkoutPaymob" class="btn btn-outline-success" type="submit">{{@root.paymentConfig.paymob.buttonText}}</button>
</div>
